@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    font-family: "Oswald", sans-serif;
}

body{
    background-color: #fff9f9;
    padding: 10px;
    margin: auto;
}

p{
    font-size: 2em;
}

h2{
    font-size: 40px;
}

.item-1{
    font-size: 200%;
}

.item-2{
    font-size: 2em;
}

.item-3{
    font-size: 200%;
}