@use 'colors';

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.gallery{
    display: flex;
    width: 35%;
    height: 350px;
    

    .slide-item{
      display: flex;
      object-fit: cover;
    }
}