@use 'colors';

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #1F1F1F;
    
}

.navbar {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
    height:200px;

    .navbar-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;   
        padding: 1rem;
        font-style: bold;

        .search-box {
            position: relative;
            width: 800px;
            margin-left: 1rem;
        }

        .search-box input {
            width: 100%;
            padding: 1rem;
            border: none;
            background-color: colors.$light-gray-3;
            border-radius: 4px;
        }

        .search-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
            font-size: 34px;
        }

        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3rem;

        }

        #cadastre-se {
            color: colors.$dark-gray;
            margin-left: 3rem;
            text-decoration: underline;
        }

        .botao {
            width: 114px;
            height: 40px;
            border-radius: 4px;
            font-weight: bold;
            color: $white;
            font-size: 14px;
            border: none;
            color: white;
            background-color: colors.$primary;
        }
    }

        .navbar-bot {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding: 1rem;
            width: 85%;
            
            justify-content: flex-start;
            gap: 1rem; 


            .link {
                

                &::before{
                    color: black;
                }
            }

            .ativo{
                color: colors.$primary;
                font-weight: bold;
                
            }

            .inativo{
                color: black;
            }

        .barra{
            max-width: 10rem;
            margin-top: -1px;
            opacity: 1;
            border: 1px solid ;
            border-radius: 2px;
            color: colors.$primary;
        }
    }
}

