@use 'colors';


.listing-cabecario{
    max-width: 69%;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between; 
    align-items: center;

    .listing-cabecario-item1{
        font-size: 24px;
        font-weight:500; 
       
    }

    .listing-cabecario-item2{
        cursor: pointer;
        display: flex;
        gap: 10px;
        

        .cabecario-link{
            text-decoration: none;
            color: colors.$dark-gray;
            font-size: 18px;
            color: colors.$primary;
        }
        .cabecario-seta{
            font-size: 30px;
            color: colors.$primary;
            font-size: 24px;
        }
    }
}

.listing{
    max-width: 69%;
    margin: 20px auto;
}


.listing-cabecario-ativo{
    max-width: 77%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-left: 8%;

    .listing-cabecario-item1-ativo{
        font-size: 24px;
        font-weight:500 
       
    }

    .listing-cabecario-item2-ativo{
        cursor: pointer;
        display: flex;
        gap: 10px;
        

        .cabecario-link-ativo{
            text-decoration: none;
            color: colors.$dark-gray;
            font-size: 18px;
            color: colors.$primary;
        }
        .cabecario-seta-ativo{
            font-size: 30px;
            color: colors.$primary;
            font-size: 24px;
        }
    }
}

.listing-ativo{
    max-width:100%;
    margin-left: 7%;
    
}